body {
  background-color: #1f0322;
  color: #fafafa;
}

h1 {
  text-align: center;
}
h1,
#nacionalidade,
#cidade {
  color: #da4167;
}

h2 {
  color: #ebe3ea;
}

a {
  color: #1f0322;
  padding: 10px 30px;
  margin-top: 5px;
  background-color: #da4167;
  border-radius: 5px;
  text-decoration: none;
}

.paragraph,
a {
  font-family: "Source Code Pro", monospace;
}

.titulo {
  font-family: "Staatliches", cursive;
  word-spacing: 3px;
  letter-spacing: 2px;  
}

.sobre-mim {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resumo {
    margin: 30px;
  width: 350px
}

.more-information-container {
    display: flex;
    justify-content: space-evenly;
    
}

.contact-buttons {
    display: flex;
    flex-direction: column;
}

img {
  border-radius: 50%;
  background-color: #da4167;
  padding: 4px;
}
