body {
    background-color: #1F0322;
    color: #FAFAFA
}

h1, #nacionalidade, #cidade {
    color: #DA4167;
}

h2 {
    color: #ad449f;
}

a {
    color: #1F0322;
    padding: 10px 30px;
    margin-top: 5px;
    background-color: #DA4167;
    border-radius: 5px;
    text-decoration: none;
}

.paragraph, a{
    font-family: 'Source Code Pro', monospace;
}

.titulo {
    font-family: 'Staatliches', cursive;
    word-spacing: 3px;
    letter-spacing: 2px;
}
