.profile-picture {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  box-shadow: 1px 4px 11px 11px #00000033;
}

.info-wrapper {
  display: flex;
  gap: 60px;
  z-index: 1;
  justify-content: space-between;
}

.about-me-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10vh;
}

.about-me-home {
  animation: moveDownHome 1s;
  max-width: 70vh;
  font-size: 18px;
  word-spacing: 2px;
}

.about-me-home span, .about-me-home a {
  color: var(--color-primary);
  font-weight: 700
}

@keyframes moveDownHome {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}


@media screen and (max-width: 880px) {
  .info-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .profile-picture {
    height: 23vh;
    width: 23vh;
  }

  .about-me-home {
    font-size: 16px;
  }

}

@media screen and (max-width: 880px) {

  .about-me-home {
    font-size: 13px;
    padding: 4vh;
  }
}