.profile-picture {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  box-shadow: 1px 4px 11px 11px #00000033;
}

.info-wrapper {
  display: flex;
  gap: 60px;
  z-index: 1;
  justify-content: space-between;
}

.about-me-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.about-me-home {
  animation: moveDownHome 1s;
  max-width: 70vh;
  font-size: 18px;
  word-spacing: 2px;
}

@keyframes moveDownHome {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
