.profile-picture {
  position: absolute;
  top: 25vh;
  right: 25vh;
  height: 30vh;
  border-radius: 50%;
  box-shadow: 1px 4px 11px 11px #00000033;
}

.info-wrapper {
  display: flex;
  margin: 0 15vh;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
}

.welcome-container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.about-me-home {
  max-width: 70vh;
  font-size: 18px;
  word-spacing: 2px;
}

.planets, .first-planet, .second-planet {
  position: absolute;
}

.planets {
  z-index: -1;
  top: 20vh;
  right: 1vh;
}

.first-planet {
  top: -13vh;
  right: -22vh;
}

.second-planet {
  height: 550px;
  right: 5vh;
}

.outsite-path, .second-planet path, .first-planet path {
  -webkit-filter: drop-shadow( 0px 10px 20px rgb(0 0 0 / 25%));
  filter: drop-shadow( 0px 10px 20px rgb(0 0 0 / 25%));
}