
.carrousel-mode {
  display: flex;
  position: relative;
  min-width: 95vw;
  min-height: 90vh;
  align-items: center;
}

.carrousel-mode .project-card {
  position: absolute;
}

.carrousel-mode .far-left {
  left: 15%;
}

.carrousel-mode .mid-left {
  left: 25%;
}

.carrousel-mode .far-left, .carrousel-mode .far-right {
  left: 15%;
  z-index: 4;
  transform: translatex(-50%) scale(0.6) !important;
  filter: brightness(40%);
}

.carrousel-mode .mid-left, .carrousel-mode .mid-right {
  left: 25%;
  z-index: 5;
  transform: translatex(-50%) scale(0.7)!important;
  filter: brightness(70%);
}

.carrousel-mode .center-item {
  left: 50%;
  z-index: 6;
  transform: translatex(-50%);
  cursor: grab;
}

.carrousel-mode .center-item:active {
  cursor: grabbing;
}

.carrousel-mode .mid-right {
  left: 75%;
}

.carrousel-mode .far-right {
  left: 85%;
}

.carrousel-mode .hidden {
  display: none;
}

@media screen and (max-width: 880px) {
  .carrousel-mode .project-card {
    width: 60vh;
    font-size: 15px;
  }
  .carrousel-mode {
    width: 100%;
  }

  .carrousel-mode .project-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    max-height: 60px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 16px;
  }

  .carrousel-mode .project-description:hover {
    overflow: visible;
    text-overflow: unset;
    display: block;
    max-height: 300px;
  }

}

@media screen and (max-width: 450px) {

  .carrousel-mode .project-card {
    width: 40vh;
    font-size: 14px;
  }

  .carrousel-mode .project-card:not(.center-item) {
    display: none;
  }
  .carrousel-mode .project-card .btn-wrapper {
    flex-wrap: wrap;
  }

  .expanded .tech-name-overlay {
    display: none;
  }
}
