.contact-me-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 10vh;
}

.contact-me-btns {
  height: 100%;
  display: flex;
  justify-content: center;
  column-gap: 5vh;
  align-items: center;
}

.contact-me-btns a {
  border-radius: 13px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 20px 35px;
  box-shadow: 1px 4px 3px 2px #00000033;
  box-shadow: rgb(0 0 0 / 25%) 10px 10px 20px, rgb(255 255 255 / 25%) 1px 1px 0px inset;
}

.send-email-section {
  display: flex;
  width: 50vw;
  flex-direction: column;
  gap: 10px;
}

.send-email-section div{
  background-image: linear-gradient(212deg, var(--color-bg-variant), var(--color-bg));
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.send-email-section .default-btn {
  width: min-content;
}

.contact-me-content {
  display: flex;
}

.contact-links-section .technology-card {
  height: 60px;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  gap: 10px;
  margin: 15px;
}

.contact-links-section .technology-card i {
  font-size: 60px;
}

@media screen and (max-width: 640px) {

  .contact-me-content {
    flex-direction: column-reverse;
  }

  .contact-links-section {
    width: 40%;
    display: flex;
  }

  .send-email-section {
    width: unset;
  }
}