header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 10vh;
}

.header-navs {
  display: flex;
  column-gap: 14px;
  justify-content: space-around;
  align-items: center;

  color: #FFEEDB;
  font-weight: 800;
  font-size: 17px;
  text-shadow: 3px 2px 13px black;
}

.header-navs img {
  height: 30px;
}

.header-navs a {
  display: flex;
  column-gap: 5px;
  align-items: center;
  font-family: 'Outfit', sans-serif;
  padding: 10px;
}

.header-navs a:hover {
  transition: ease 0.4s all;
  filter: brightness(1.15);
  transform: translateY(-4px);
}

a:link, a:visited {
  color: #FFEEDB;
  text-decoration: none;
}

a:hover {
  color: #FFEEDB;
}

.projects-h1 {
  margin-left: 30px;
}