header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.header-navs {
  display: flex;
  justify-content: space-around;
  width: 300px;

  color: white;
  font-weight: 800;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(202, 201, 201);
}