header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.header-navs {
  display: flex;
  justify-content: space-around;
  width: 300px;

  color: #dfe6eb;
  font-weight: 800;
  font-size: 17px;
}

a:link, a:visited {
  color: #dfe6eb;
  text-decoration: none;
}

a:hover {
  color: #dfe6eb;
  text-decoration: underline;
}

.projects-h1 {
  margin-left: 30px;
}