.profile-picture {
  height: 30vh;
  border-radius: 50%;
  border: 3px solid #FFEEDB;
}

.info-wrapper {
  display: flex;
  margin: 0 15vh;
  width: 100%;
  justify-content: space-around;
}

.welcome-container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.homepage {
  z-index: 0;
}

.about-me-home {
  max-width: 70vh;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  word-spacing: 2px;
}