.project-card {
  width: 70vh;
  border-radius: 13px;
  background-color: #5a2745;
  padding: 20px;
  margin: 10px 20px;
  height: min-content;
  font-size: 17px;
  transition: 0.5s;
  box-shadow: 1px 4px 7px 3px #00000033;
}

.image-wrapper {
  min-height: 50%;
}

.project-image {
  width: 100%;
  border-radius: 9px;
}

.btn-wrapper {
  display: flex;
  margin-top: 10px
}

.btn-wrapper a {
  padding: 10px 15px;
  background: #b02360cc;
  /* border: 0.3px solid #FFEEDB; */
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 25%) 10px 10px 20px, rgb(255 255 255 / 25%) 1px 1px 0px inset;
  cursor: pointer;
  margin-right: 5px;
}

.btn-wrapper a:hover {
  transition: ease 0.4s all;
  /* border: 0.3px solid transparent; */
  transform: translateY(-9px);
  text-decoration: none;
}

.project-description {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
}

.project-name {
  margin: 7px 0;
  font-size: 20px;
}