.project-card {
  width: 40%;
  border-radius: 13px;
  box-shadow: 0px 3px 12px #52796f;
  background-color: #84A98C;
  padding: 20px;
  margin: 10px 20px;
  min-height: 218px;
  transition: 0.5s;
}

.project-card:hover {
  transform: scale(1.04);
  transition: 0.5s;
}

.image-wrapper {
  min-height: 50%;
}
.project-image {
  width: 100%;
  border-radius: 9px;
}
