.project-card {
  width: 40vh;
  border-radius: 13px;
  border: 1px solid #FFEEDB;
  background-color: #5a2745;
  padding: 20px;
  margin: 10px 20px;
  height: min-content;
  font-size: 17px;
  transition: 0.5s;
}

.image-wrapper {
  min-height: 50%;
}
.project-image {
  width: 100%;
  border-radius: 9px;
}

.btn-wrapper {
  display: flex;
  margin-top: 10px
}

.btn-wrapper a {
  padding: 10px 15px;
  border: 1px solid #FFEEDB;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-wrapper a:hover {
  background: #b0235f;
  transition: 0.5s all;
  text-decoration: none;
}