.projects-container-home-wrapper {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  width: 100%;
}

.projects-container-home-wrapper::-webkit-scrollbar {
  height: 5px;
}

.projects-container-home-wrapper .project-description:hover {
  -webkit-transition: max-height .6s; 
  -moz-transition: max-height .6s; 
  -ms-transition: max-height .6s; 
  -o-transition: max-height .6s; 
  transition: max-height .6s;
}

.projects-container-home-wrapper .project-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 60px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.projects-container-home-wrapper .project-description:hover, 
.projects-container-home-wrapper .description-wrapper:hover {
  overflow: visible;
  text-overflow: unset;
  display: block;
  max-height: 90px;
}
