.techs {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.techs.expanded {
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 5px;
}
