.technology-card {
  color: var(--color-bg);
  padding: 33px;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 172px;
  border-radius: 13px;
  transition: 0.4s all ease;
  cursor: pointer;
}

.technologies-wrapper i {
  font-size: 6.5rem;
  color: var(--color-primary);
  height: auto;
  width: auto;
  transition: 0.4s all ease;
}

.technology-card:hover {
  box-shadow: 0 0 19px 0px var(--color-primary-variant);
  transform: scale(1.03);
}