.technology-badge {
  padding: 3px 4px;
  border-radius: 4px;
  margin: 4px;
  width: 18px;
  z-index: 2;
}

.technology-badge i {
  text-shadow: 2px 2px 8px #00000080;
}

.tech-name-overlay {
  position: absolute;
  background-color: var(--color-bg);
  color: var(--color-white);
  padding: 7px;
  z-index: 0;
  cursor: default;
  border-radius: 5px;
}

.projects-section .tech-name-overlay, .carrousel-mode .tech-name-overlay {
  position: relative;
  margin: 0 3px 0 1px;
  background-color: var(--color-bg-variant);
}

.projects-section.list .tech-name-overlay {
  position: absolute;
  background-color: var(--color-bg);
}
