:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6 );
  --color-text-dark: #17171a;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-bg);
}

body {
  color: var(--color-white);
  font-family: 'Outfit', sans-serif;
  margin: 0;
  background-image: url('../src/images/bg-texture.png')
}

h1, h2, h3, summary {
  font-family: 'Poppins', sans-serif;
  color: var(--color-primary);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-variant); 
  border-radius: 15px;
}

button, a{
  border: none;
  cursor: pointer;
}

button:focus-visible {
  outline: none;
}

input[type="checkbox"] {
  display: none;
}

summary {
  font-weight: 800;
  cursor: pointer;
  margin: 10px;
  height: 25px
}

.default-btn {
  font-weight: 600;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  padding: 9px 13px;
  background: #4db5ff00;
  border: 1px solid var(--color-primary-variant);
  box-shadow: rgb(0 0 0 / 25%) -1px 1px 20px 1px;
  border-radius: 62px;
  margin-right: 5px;
  transition: ease 0.4s all;
  color: var(--color-white);
}

.default-btn:hover {
  filter: brightness(1.15);
  transform: translateY(-7px);
  box-shadow: rgb(0 0 0 / 25%) 10px 10px 20px, rgb(255 255 255 / 25%) 1px 1px 0px inset;
  background: var(--color-primary);
  color: var(--color-text-dark);
}

.default-btn img {
  height: 25px;
  margin: 2px 3px;
}
