:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6 );
  --color-text-dark: #17171a;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-bg);
}

body {
  color: var(--color-white);
  font-family: 'Outfit', sans-serif;
  margin: 0;
  background-image: url('../src/images/bg-texture.png')
}

h1, h2, h3, summary {
  font-family: 'Merriweather', serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-variant); 
  border-radius: 15px;
}

button, a{
  border: none;
  cursor: pointer;
}

button:focus-visible {
  outline: none;
}

input[type="checkbox"] {
  display: none;
}

summary {
  font-weight: 800;
  cursor: pointer;
  margin: 10px;
  height: 25px
}
